@import url(https://fonts.bunny.net/css?family=archivo:300,400,500,600,700);

:root{
    --principal: #e53935;
    --bg: #0C0C0C;
    --article: #0F0F0F;
    --gray: #E3E3E3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:var(--bg);
}

h1,h2,h3,h4,h5,h6,p{
    font-family: 'Archivo',sans-serif;
    margin: 0;
    color: #fff;
}

a{
    text-decoration: none;
}

b{
    color: var(--principal);
}
header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 0px;
    gap: 10px;
}

header>h1{
    font-size: 4rem;
    line-height: 1;
}

header>h3{
    font-size: 2rem;
}

header>p{
    font-size: 2rem;
    font-weight: 500;
}

.cinema{
    margin-top: 0px;
    background-color: var(--article);
}

.grid{
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.grid>div>h1{
    color: var(--principal);
}
.catalogo{
    margin:3%
}

.main-carousel{
    margin-top:30px;
}

.cell{
    padding-right: 1%;
    padding-left: 1%;
}

.cell>a>img{
    width: 250px;
}

.cat-title{
    text-align: center;
    color: #fff;
    font-weight: 600;
}

.footer{
    background-color: var(--bg);
    color: var(--principal);
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.footer div a p{
    text-align: center;
    display: flex;
    align-items: center;
    gap: 5px;
    transition:all 0.3s ease;
}
.footer div a p:hover{color: var(--principal);}

@media (max-width: 768px){
    .cell>a>img{
        width: 175px;
    }
    header>h1{
        font-size: 1.8rem;
    }
    header>h3{
        font-size: 1.3rem;
    }
    header>p{
        font-size: 1.2rem;
    }

    .footer{
        text-align: center;
        flex-direction: column;
    }

    .footer div a p{
        justify-content: center;
    }
    
}